Package: mpblog
Version: 0.1
Architecture: i386
Maintainer: Bob Mottram <fuzzgun@gmail.com>
Depends: mono-runtime (>= 1.1.8.1), mono-2.0-runtime (>= 2.0), twidge
Recommends: 
Suggests: 
Section: programming
Priority: optional
Homepage: http://code.google.com/p/mindpix/
Description: Utility for microblogging using the mindpixel corpus.  For more information see http://code.google.com/p/mindpix/
