Package: mpblog
Version: 0.4
Architecture: i386
Maintainer: Bob Mottram <fuzzgun@gmail.com>
Depends: mono-runtime, twidge
Recommends: 
Suggests: 
Section: programming
Priority: optional
Homepage: http://code.google.com/p/mindpix/
Description: Utility for microblogging using the mindpixel corpus.  For more information see http://code.google.com/p/mindpix/
