Package: mpmist
Version: 0.4
Architecture: i386
Maintainer: Bob Mottram <fuzzgun@gmail.com>
Depends: mono-runtime, mysql-server, libmysql5.0-cil
Recommends: monodoc-mysql5.0-manual
Suggests: 
Section: programming
Priority: optional
Homepage: http://code.google.com/p/mindpix/
Description: Utility for performing the Minimum Intelligent Signal Test (MIST).  For more information see http://code.google.com/p/mindpix/
